.env/
.cache/
__pycache__/
modules/.cache/
modules/__pycache__/
modules/credentials.json
modules/chatterbot_database.sqlite3-shm
modules/chatterbot_database.sqlite3-wal
tools/piadas byte.xlsx
tools/cumprimentos.csv
tools/ativarcomandos.csv
tools/perguntaserespostas.csv
tools/sentence_tokenizer.pickle