@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

:root{
  --screen-top: 0px;
  --screen-left: 0px;
  --screen-width: 0px;
  --screen-height: 0px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: #262626;
}

body {
  font-size: 100%;
  font: 14px/20px "Lato", Arial, sans-serif;
  background-color: #262626;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

#left-side {
  display: flex;
  position: relative;
  width: 50%;
  float: left;
  height: 100vh;
  z-index: -3;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding-right: 30px;
}

#right-side {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  float: left;
  height: 100vh;
  z-index: -3;
  padding-left: 30px;
}

.chat {
  width: 35vw;
  min-width: 360px;
  float: left;
  background: #1E1E1E;
  border-radius: 50px;
  color: #FFFFFF;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  overflow-y: auto;
  height: 71vh;
}

.chat .chat-history .message-data {
  margin-bottom: 5px;
}

.chat .chat-history .message-time {
  color: #a8aab1;
  padding-left: 6px;
  padding-right: 3px;
}

.timestamp{
  font-weight: 300;
}

.chat .chat-history .message {
  color: black;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 20px;
  border-radius: 30px;
  margin-bottom: 30px;
  width: fit-content;
  position: relative;
}

.chat .chat-history .byte-message {
  background: #FFF851;
}

.byte-circle {
  color: #FFF851;
  margin-right: 5px;
  font-size: 10px;
}

.chat .chat-history .user-message {
  background: #E374FF;
}

.me {
  color: #E374FF;
  margin-left: 3px;
  font-size: 10px;
}

.chat .chat-message {
  padding: 30px;
}

.chat .chat-message textarea {
  width: 60%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin: 0 10px 10px 10px;
  border-radius: 5px;
  resize: none;
  background-color: #262626;
  border-radius: 20px;
}

.chat-message{
  display: flex;
  justify-content: center;
}

.message{
  word-wrap: break-word;
}

.textarea{
  color: #fff;
}

.button{
  width: 80px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.voice{
  background-color: #E374FF;
  transition: 0.3s;
}

.voice:hover{
  background-color: #c760e1;
}

.voice:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.voiceanim{
  width: 100%;
  background-color: #c748e7;
  animation: pulse 2s infinite;
}

.send{
  background-color: #FFF851;
  transition: 0.3s;
}

.send:hover{
  background-color: #f5ef38;
}

.send:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
  text-align: right;
}

.message-list:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.info{
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.byte-simulation{
  margin-top: 3vh;
}

.image {
  width: 35vw;
  min-width: 300px;
}

h1 {
  color: #FFF72E;
  font: 20vh "IBM Plex Mono";
}

.voice, .send{
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  width: 36vw;
  height: 20vh;
  background: #181818;
  box-shadow: 0px 4px 28px 25px rgba(0, 0, 0, 0.25);
  margin-top:-13vh;
  border-radius: 50%;
  z-index: -2;
}

.screen{
  z-index: -1;
  width: var(--screen-width);
  height: var(--screen-height);
  background: red;
  position: absolute; 
  left: var(--screen-left);
  top: var(--screen-top);
}

.processing{
  padding: 18px 20px;
}

.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
  }
  50% {
    box-shadow: 9984px 0 0 0 black, 9999px -10px 0 0 black, 10014px 0 0 0 black;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px -10px 0 0 black;
  }
  100% {
    box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
  }
}